main {
    max-width: 840px;
    padding: 10px;
}

header {
    background-color: steelblue;
    padding: 1em;
}

nav {
    text-align: center;
}

nav a {
    color: blue;
    padding: 10px;
    display: block;
}

h1 {
    color: steelblue;
}

main img {
    width: 200px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    margin: 0 0 10px 10px;
}

p {
    padding: 0;
}

aside {
    width: 20em;
    margin: 1em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1em;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}